[alias]
	s = status
	sw = switch
	c = commit
  log-graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format-local:'%Y/%m/%d %H:%M:%S'
[merge]
	ff = only
[user]
	name = Taska002
	email = a-taruno@mksc.jp
[rebase]
	autostash = true
[ghq]
	root = /Users/asuka/Documents/project
